.header {
  display: flex;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
  background: var(--backgroudcardpais);
  @media screen and(min-width:768px){
      height: 70px;
  }
  &__navegation {
      display: flex;
      justify-content: space-between;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 100%;
      @media screen and(min-width:768px){
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
  }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 800;
      font-family: "Nunito Sans" sans-serif;
      color:var(--headertitle);
    }
}
.switch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;

    &__titlemode{
        font-size: 14px;
        font-family: "Nunito Sans" sans-serif;
        font-weight: 700;
        position: relative;
        color:var(--headertitle);
    }

    &__image{
      color: var(--cardinfo);
        width: 30px;
        padding-right: 8px;
        cursor: pointer;
    }
}
